/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.midData {
    color: var(--white-c);
    text-align: center;
    width: 100%;
}

.midData h2 {
    font-size: clamp(1.8rem, 4vw, 4rem);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 500;

}

.midData :is(p, button) {
    margin-top: 1.5rem;
}

.midData p {
    font-size: clamp(1.3rem, 2vw, 1.6rem);
    text-transform: capitalize;
    line-height: 3rem;

}

.midData button {
    padding: max(0.5rem, 0.8vw) 4rem;
    background-color: var(--midData-b-c);
    cursor: pointer;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
}

.midData button:hover {
    background-color: var(--midData-b-c-h);
}

.inputbox {
    background-color: var(--white-c);
    -webkit-box-shadow: 0 10px 40px 0px rgba(38, 40, 64, .2);
            box-shadow: 0 10px 40px 0px rgba(38, 40, 64, .2);
    height: auto;
    border-radius: 0.3rem;
    width: clamp(10rem, 80%, 120rem);
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    place-items: center;
    padding: clamp(1rem, 5vw, 3rem) 0rem;

}


/*.single-model-search*/


.single-model-search h2 {
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}

/*model-select-icon*/
.model-select-icon {
    position: relative;
}

.form-control {
    outline: 0 !important;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid var(--inputAllboBG);
    background: var(--inputAllboBG);
    height: clamp(3rem, 12vw, 6rem);
    /* max-width: 15rem; */
    width: clamp(15rem, 50vw, 20rem);
    border-radius: 0.2rem;
}

.model-select-icon select {
    font-size: 1.6rem;
    color: #888f9d;
    cursor: pointer;
    text-transform: capitalize;
}


.search button {
    background-color: var(--blue);
    height: 4.99rem;
    width: 12rem;
    border-radius: 0.5rem;
    color: var(--white-c);
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 800;
    position: relative;
    top: 2rem;
right: 4rem;
}

.carRepiar {
    gap: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0rem clamp(0.5rem, 6vw, 15rem);
}

.box {
    border: 1px solid rgba(188, 184, 184, 0.437);
    height: 40rem;
    flex: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    place-items: center;
    border-radius: 0.8rem;
    text-align: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.box h2 {
    font-size: 2rem;
    color: rgba(22, 22, 228, 0.719);
    text-transform: uppercase;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.box p {
    font-size: clamp(1rem, 2vw, 1.5rem);
    max-width: 27rem;

}

.box .icon {
    color: black;
    font-size: 8rem;
}

.line {
    width: 3rem;
    border-top: 3px solid var(--blue);

}

.box:hover, .clientBox:hover {
    background-color: var(--blue);
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.box:hover :is(h2, p) {
    color: white !important
}

.box:hover .icon {
    color: white !important;
}

.latesCar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    place-items: center;
}

.latesCar :is(h2, .line2) {
    margin-top: 1rem;
}

.latesCar h2 {
    font-size: 3rem;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
}

.latesCar h3 {
    font-size: 1.5rem;
    font-weight: 200;
}

.line2 {
    width: 8rem;
    border-top: 2px solid var(--blue);
}

.clientSay {
    background-color: #f8f9fb !important;
    padding-block: 5rem !important;
}

.clientAllbox {
    display: -ms-grid;
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 10rem;
    padding: 3rem clamp(2rem, 10vw, 15rem);
    place-items: center;
}

.clientBox {
    border: 1px solid rgba(188, 184, 184, 0.437);
    width: clapm(20rem, 75%, 35rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    place-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    -webkit-animation: ahmad;
            animation: ahmad;
}

.clientBox :is(.img, h2, p) {
    margin-top: 5rem;
}

.clientBox h2 {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 700;
    letter-spacing: 0.3rem;
    text-transform: capitalize;
    margin-bottom: 3rem;
    text-align: center;
}

.clientBox p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    opacity: 0.7;
    padding: 0rem clamp(1rem, 3vw, 2rem);
}

.clientBox:hover :is(h2, p) {
    color: white !important
}

.clientBox img {
    width: 100%;
}

.slider2 {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.sliderTrack {
  display: flex;
  gap: 2rem;
  overflow: hidden;
  width: max-content; 
  animation: scroll 40s linear infinite;
}

.slide {
  flex: 0 0 auto;
  width: 250px;
}

.slide img {
  width: 100%;
  cursor: pointer;
}

.slider2::before,
.slider2::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 20%;
  z-index: 1;
  top: 0;
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
}

.slider2::after {
  right: 0;
  transform: rotateZ(180deg);
}

.slider2::before {
  left: 0;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 9));
                transform: translateX(calc(-250px * 9));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 9));
                transform: translateX(calc(-250px * 9));
    }
}


.slide img {
    width: 90%;
}


@media (width < 992px) {
    .inputbox {
        width: calc(100% - 3rem);
        margin: 0 1.5rem;
    }
}

@media (width < 650px) {
    .inputbox {
        text-align: center;
    }
}