/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/




header.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 13rem;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 2;
}

.sticky-nav {
    position: fixed;
    top: 0;
    -webkit-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    left: 0;
    right: 0%;
    height: 10rem !important;
    background: black !important;
}


.sticky {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}

.logo {
    font-size: clamp(2rem, 5vw, 3rem);
    color: var(--white-c);
    text-transform: uppercase;
}

.hamburger {
    position: relative;
    top: 0;
    right: 0;
    display: none;
}

.icon {
    color: var(--white-c);
    font-size: 3rem;
}

nav.navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

li {
    list-style: none;
}

.navbar ul li a {
    color: var(--white-c);
    font-size: clamp(1.4rem, 5vw, 1.6rem);
    text-transform: uppercase;
    margin-left: 5rem;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.navbar ul li :is(a:hover, a.active) {
    color: var(--nav-a-c);
}




@media (width < 992px) {
    header.header {
        background: transparent;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: var(--black-c);
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        /* background-color: red !important; */
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 4rem 5rem;
        z-index: 2 !important;
    }

    nav.navbar ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: fixed;
        top: 15%;
        left: -200%;
        z-index: 1;
        overflow: hidden;
        background-color: var(--black-c);
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100dvw;
        height: 100dvh ;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        padding: 2rem 0rem;
    }

    .navbar.active {
        left: 0%;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    ul li a {
        line-height: 6rem;
        margin-left: 0rem;
    }

    .hamburger {
        display: block;
    }
}